<header class="header">Template Driven Form</header>
<br>
<section>
  <ul>
    <li><a routerLink="/simpleform" >Simple Form</a></li>
    <li><a routerLink="/usingviewchild">Using ViewChild inplace of #refVariable</a></li>
    <li><a routerLink="/validations">Validaions In Forms</a></li>
    <li><a routerLink="/ngModel">Using ngModel</a></li>
    <li><a routerLink="/ngModelGroup">ngModelGroup</a></li>
    <li><a routerLink="/setAndPatchValueComponent">setAndPatchValueComponent</a></li>
    <li><a routerLink="/getAndReset">Get And Reset Form Data</a></li>
  </ul>
  <router-outlet></router-outlet>
</section>
